wbs_id,parent_id,name,owner,planned_start,planned_end,actual_start,actual_end,progress_pct,status,depends_on,backlog_id
1,,要件定義フェーズ,{{pm_name}},{{poc_start}},,,,0,not_started,,
2,,基本設計フェーズ,{{pm_name}},,,,,0,not_started,1,
3,,詳細設計フェーズ,{{pm_name}},,,,,0,not_started,2,
4,,開発・単体テスト,{{pm_name}},,,,,0,not_started,3,
5,,結合テスト,{{pm_name}},,,,,0,not_started,4,
6,,パラレル稼働,{{pm_name}},,,,,0,not_started,4,
7,,カットオーバー〜安定稼働,{{pm_name}},,,,{{cutover_date}},0,not_started,5;6,
